#error_explanation
  padding-left: 0
  li
    list-style: none
    padding: 10px 15px
    margin-bottom: 0
.collapsible 
  cursor: pointer
  width: 100%
  border: none
  text-align: left
  outline: none
.content 
  display: none
  overflow: hidden
