@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
.chefs
  #team
    background: #eee !important

  .btn-primary
    &:hover, &:focus
      background-color: #108d6f
      border-color: #108d6f
      box-shadow: none
      outline: none

    color: #fff
    background-color: #007b5e
    border-color: #007b5e

  section
    padding: 60px 0

    .section-title
      text-align: center
      color: #007b5e
      margin-bottom: 50px
      text-transform: uppercase

  #team .card
    border: none
    background: #ffffff

  .image-flip
    &:hover .backside, &.hover .backside
      -webkit-transform: rotateY(0deg)
      -moz-transform: rotateY(0deg)
      -o-transform: rotateY(0deg)
      -ms-transform: rotateY(0deg)
      transform: rotateY(0deg)
      border-radius: .25rem

    &:hover .frontside, &.hover .frontside
      -webkit-transform: rotateY(180deg)
      -moz-transform: rotateY(180deg)
      -o-transform: rotateY(180deg)
      transform: rotateY(180deg)

  .mainflip
    -webkit-transition: 1s
    -webkit-transform-style: preserve-3d
    -ms-transition: 1s
    -moz-transition: 1s
    -moz-transform: perspective(1000px)
    -moz-transform-style: preserve-3d
    -ms-transform-style: preserve-3d
    transition: 1s
    transform-style: preserve-3d
    position: relative

  .frontside
    position: relative
    -webkit-transform: rotateY(0deg)
    -ms-transform: rotateY(0deg)
    z-index: 2
    margin-bottom: 30px

  .backside
    position: absolute
    top: 0
    left: 0
    background: white
    -webkit-transform: rotateY(-180deg)
    -moz-transform: rotateY(-180deg)
    -o-transform: rotateY(-180deg)
    -ms-transform: rotateY(-180deg)
    transform: rotateY(-180deg)
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158)
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158)
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158)

  .frontside, .backside
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transition: 1s
    -webkit-transform-style: preserve-3d
    -moz-transition: 1s
    -moz-transform-style: preserve-3d
    -o-transition: 1s
    -o-transform-style: preserve-3d
    -ms-transition: 1s
    -ms-transform-style: preserve-3d
    transition: 1s
    transform-style: preserve-3d

  .frontside .card
    min-height: 312px

  .backside .card
    min-height: 312px

    a
      font-size: 18px
      color: #007b5e !important

  .frontside .card .card-title, .backside .card .card-title
    color: #007b5e !important

  .frontside .card .card-body img
    width: 120px
    height: 120px
    border-radius: 50%  

.card-chef
  background: white
  box-shadow: 1px 1px 7px 2px #fdc741
  border: none
  position: relative
  .card-body
    padding: 10px
  .font-size
    font-size: 2.5rem
  .btn-font
    font-size: 2.2rem
    background: #fdc741
  .chef-image
    position: absolute
    left: 112px
    width: 148px
    height: 148px
    border-radius: 50%
    top: 23px
    box-shadow: 1px 1px 7px 2px #fdc741
    background-color: red

.textcolor-chef-card
  font-size: 1.9rem
  font-weight: 400
  color: #747373

.border-chef-card
  border-radius: 55px
  padding: 5px
  background-color: #E0E0E0

.image1-chef-card
  width: 100%
  